.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../images/guild.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    background-image: url("../images/papiro.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 100%;
    margin-top: 100px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
}

.title h2 {
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
    color: #000000e8;
}

#info {
    margin: 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info input,
#info button {
    width: 100%;
    max-width: 350px; 
    padding: 12px;
    font-size: 24px;
    margin-bottom: 10px;
}

#info button {
    cursor: pointer;
}

#toggleMusic {
    width: 100%;
    max-width: 200px; 
    font-size: 24px;
    margin-top: 10px;
    cursor: pointer;
}

@media (max-width: 1560px) {
    .title h2 {
        margin-bottom: 120px;
        font-size: 35px;
    }    
}

@media (max-width: 820px) {
    .form {
        background-size: 95% 100%;
    }
}

@media (max-width: 480px) {
    .form {
        background-size: 100% 100%;
    }

    .title h1 {
        font-size: 60px;
    }

    .title h2 {
        font-size: 30px;
    }

    #info input,
    #info button {
        max-width: 320px; 
    }
}

@media (max-width: 430px) {
    .title h1 {
        font-size: 55px;
    }

    .title h2 {
        font-size: 30px;
    }

    #info input,
    #info button {
        max-width: 280px; 
    } 
}

@media (max-width: 395px) {
    .form {
        padding: 100px 0;
        margin-top: 50px;
    }

    .title h1 {
        font-size: 50px;
    }

    .title h2 {
        font-size: 25px;
    }

    #info input,
    #info button {
        max-width: 260px; 
    } 
}