.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../images/guild.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    background-image: url("../images/papiro.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 100%;
    margin-top: 100px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    font-size: 100px;
    text-align: center;
}

.title h2 {
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
}

#info {
    margin: 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info input,
#info button {
    width: 100%;
    max-width: 350px; 
    padding: 12px;
    font-size: 24px;
    margin-bottom: 10px;
}